DISCORD_TOKEN=SELF_BOT_TOKEN_BURAYA
BOT_USER_ID=123456789
FIREWORK_KEYS=fw_**********

BOT_PREFIX=prefix,!prefix,!prefix2
REACTION_CHANCE=0.15
SELF_REACTION_CHANCE=0.50
RANDOM_RESPONSE_CHANCE=0.08

# Example model: accounts/fireworks/models/minimax-m2p7
AI_MODEL=accounts/fireworks/models/modelname